* {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 98vw;
  background: linear-gradient(90deg, rgba(215, 43, 158) 0%, #00ffff);
}

#image img {
  width: 40vi;
  margin-right: 15px; /* Adicione margem à direita da imagem */
}

#soccer-game {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #262626;
  border-radius: 8px;
}

h1 {
  font-size: 2.25rem;
  position: relative;
  color: rgba(215, 43, 158);
  margin-bottom: 0.8rem;
}

h1::after {
  position: absolute;
  content: "";
  background-color: #00ffff;
  width: 8rem;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

/* Para class usa-se "." */
.input-box label {
  font-size: 1.5rem;
  color: #00ffff;
  font-weight: 400;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3f46;
}

#gol-scores span:first-child {
  font-size: 1.5rem;
  color: #00ffff;
  font-weight: 500;
}

#result {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* ##################################################################################### */

/* Estilizando o local onde você entra com o nome */
.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhando o texto à esquerda */
  gap: 0.5rem; /* Espaçamento entre o label e o input */
  margin-bottom: 1rem;
}

.input-box label {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  color: #00ffff;
  font-weight: 500;
  margin-bottom: 0.2rem; /* Espaçamento entre o label e o input */
}

#input-field {
  background-color: #3f3f46;
  border-radius: 4px; /* Adicionando uma borda arredondada */
  padding: 0.5rem 1rem; /* Espaçamento interno para o input */
}

#name {
  border: none;
  background-color: transparent; /* Removendo o fundo do input */
  color: #fff; /* Cor do texto */
  font-size: 1.2rem;
  cursor: pointer;
}

#name:focus {
  outline: none; /* Remove a borda de foco */
}

/* Estilizando o botão */
button {
  background-color: rgba(215, 43, 158);
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem; /* Espaçamento interno para o botão */
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer; /* Transforma o cursor em um ponteiro quando passa sobre o botão */
}

button:hover {
  background-color: chartreuse;
}

/* ##################################################################################### */

#gols {
  font-size: 1.4rem;
  color: rgba(215, 43, 158);
}

#description {
  margin-top: 0.7rem;
  font-size: 1rem;
  color: chartreuse;
}

.hidden {
  display: none;
}
